################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test-Uebung/.vs
/Test-Uebung/TestUebung.ConApp/obj
/Test-Uebung/TestUebung.Logic/obj
/Test-Uebung/TestUebung.UnitTest/bin/Debug/net8.0
/Test-Uebung/TestUebung.UnitTest/obj
/Test-Uebung/TestUebung.ConApp/bin/Debug/net8.0
/Test-Uebung/TestUebung.Logic/bin/Debug/net8.0
